<nav class="navbar">
  <% if (!user) { %>
    <a href="/" class="logo">
      <img src="/img/logo-white.png" alt="Logo" />
    </a>
    <ul class="menu-links">
      <li class="join-btn"><a href="/signIn">Join Us</a></li>
    </ul>
  <% } else { %>
    <a href="/user/<%= user._id %>" class="logo">
      <img src="/img/logo-white.png" alt="Logo" />
    </a>
    <ul class="menu-links">
      <li><a href="/user/<%= user._id %>/profile">Profile</a></li>
      <li><a href="/user/<%= user._id %>/shop">Shop</a></li>
      <li><a href="/user/<%= user._id %>/services">Services</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  <% } %>

  <span id="close-menu-btn" class="material-symbols-outlined">
    <i class="fa-solid fa-xmark"></i>
  </span>
  <span id="hamburger-btn" class="material-symbols-outlined">
    <i class="fa-solid fa-bars"></i>
  </span>
</nav>

<script>
  const header = document.querySelector("header");
  const hamburgerBtn = document.querySelector("#hamburger-btn");
  const closeMenuBtn = document.querySelector("#close-menu-btn");

  // Toggle mobile menu on hamburger button click
  hamburgerBtn.addEventListener("click", () =>
    header.classList.toggle("show-mobile-menu")
  );

  // Close mobile menu on close button click
  closeMenuBtn.addEventListener("click", () => hamburgerBtn.click());
</script>
